#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

#chat-screen .alt-header {
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
  background-color: #abc1d1;
}

.main-chat {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  opacity: 0.8;
  padding: 6px 15px;
  border-radius: 100px;
  font-size: 10px;
  margin-bottom: 25px;
}

.message-row {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

.message-row img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__author {
  opacity: 0.7;
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 8px 13px;
  border-radius: 14px;
  border-top-left-radius: 0px;
  font-size: 18px;
  margin-right: 5px;
}

.message__time {
  opacity: 0.7;
  font-size: 12px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 14px;
  margin-right: 0;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}
