#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

#chat-screen .alt-header {
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
  background-color: #abc1d1;
}

.main-chat {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  opacity: 0.8;
  padding: 6px 15px;
  border-radius: 100px;
  font-size: 10px;
}
