.welcome-header {
  margin: 60px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-family: var(--main-font);
  color: var(--point-color);
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 80%;
  opacity: 0.5;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
  font-family: var(--main-font);
}

#login-form input:not([type="submit"]) {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid gray;
  transition: border-color 0.3s ease-in-out;
  color: var(--point-color);
}

#login-form input::placeholder {
  color: var(--point-color);
  opacity: 0.4;
  font-family: var(--main-font);
}

#login-form input:focus {
  border-color: var(--point-color);
}

#login-form input[type="submit"] {
  background-color: var(--point-color);
  color: var(--main-color);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  font-family: var(--main-font);
  color: var(--point-color);
}

@keyframes shakeItAnimation {
  0% {
    transform: translateX(-100px) rotateY(0deg);
  }
  50% {
    transform: translateX(100px) rotateY(0deg);
  }
  51% {
    transform: translateX(100px) rotateY(180deg);
  }

  100% {
    transform: translateX(-100px) rotateY(180deg);
  }
}

.index__bgImage {
  margin-top: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
  animation: shakeItAnimation 5s linear infinite;
}

.index__bgImage img {
  max-height: 100%;
}
