.more-screen .icon-row {
  margin-top: 25px;
}

.more-screen .icon-row:last-child .icon-row__icon {
  width: 25%;
  display: flex;
  justify-content: center;
}

.more-screen .icon-row:last-child .icon-row__icon:nth-child(2) i {
  position: relative;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-sugestions__title {
  margin-bottom: 30px;
}
