.settings-setting {
  font-family: var(--main-font);
  padding: 20px 0;
  border-bottom: 1px solid var(--point-color);
  color: var(--point-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-setting i {
  opacity: 0.8;
  margin-right: 15px;
  font-size: 20px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}
