.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.alt-header__title {
  font-size: 25px;
  font-weight: 600;
  color: var(--point-color);
  font-family: var(--main-font);
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 10px;
}
