.badge {
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  width: 20px;
  height: 20px;
  font-size: 13px;
}

.badge--sm {
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: 32px;
  right: -8px;
}

.badge--xs {
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: 20px;
  right: -8px;
}
