.icon-row {
  display: flex;
  justify-content: space-between;
  color: var(--point-color);
  font-family: var(--main-font);
}

.icon-row__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 30px;
}

.icon-row__icon span {
  font-size: 12px;
  margin-top: 18px;
  text-align: center;
  opacity: 0.7;
}
